@page
@model Coursework.Pages.Questions.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Question</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Question.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Question.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Question.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Question.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Question.DateCreated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Question.DateCreated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Question.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Question.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Question.Score)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Question.Score)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Answers/Create" asp-route-id="@Model.Question.QuestionId">Answer</a>
    @if ((await AuthorizationService.AuthorizeAsync(
        User, Model.Question,
        QuestionOperations.Update)).Succeeded)
    {
        <a asp-page="./Edit" asp-route-id="@Model.Question.QuestionId">Edit</a>
        <text> | </text>
    }

    @if ((await AuthorizationService.AuthorizeAsync(
        User, Model.Question,
        QuestionOperations.Delete)).Succeeded)
    {
        <a asp-page="./Delete" asp-route-id="@Model.Question.QuestionId">Delete</a>
        <text> | </text>
    }

    <a asp-page="./Index">Back to List</a>
</div>
<div>
    <h4>@ViewData["AnswerCount"] Answers</h4>
    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Answer[0].Message)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answer[0].DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answer[0].Accepted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answer[0].Score)
            </th>
            <th>
                Actions
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Answer)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Message)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Accepted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Score)
                </td>
                @*             <td> *@
                @*                 @if ((await AuthorizationService.AuthorizeAsync( *@
                @*                     User, item, *@
                @*                     QuestionOperations.Update)).Succeeded) *@
                @*                 { *@
                @*                     <a asp-page="./Edit" asp-route-id="@item.QuestionId">Edit</a> *@
                @*                     <text> | </text> *@
                @*                 } *@
                @* *@
                @*                 <a asp-page="./Details" asp-route-id="@item.QuestionId">Details</a> *@
                @* *@
                @*                 @if ((await AuthorizationService.AuthorizeAsync( *@
                @*                     User, item, *@
                @*                     QuestionOperations.Delete)).Succeeded) *@
                @*                 { *@
                @*                     <text> | </text> *@
                @*                     <a asp-page="./Delete" asp-route-id="@item.QuestionId">Delete</a> *@
                @*                 } *@
                @*             </td> *@
            </tr>
        }
        </tbody>
    </table>
</div>