@page
@model Coursework.Pages.Questions.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Question</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Question.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Question.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Question.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Question.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Question.DateCreated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Question.DateCreated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Question.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Question.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Question.Score)
        </dt>
        <dd class="col-sm-10" class="vote-value">
            <span class="Question" id="@Html.DisplayFor(model => model.Question.QuestionId)">@Html.DisplayFor(model => model.Question.Score)</span>
            <button onclick="QuestionVote(@Html.DisplayFor(model => model.Question.QuestionId), 1)">+</button>
            <button onclick="QuestionVote(@Html.DisplayFor(model => model.Question.QuestionId), -1)">-</button>
        </dd>
    </dl>
</div>
<div>


    <a asp-page="./Answers/Create" asp-route-id="@Model.Question.QuestionId">Answer</a> |
    @if ((await AuthorizationService.AuthorizeAsync(
        User, Model.Question,
        QuestionOperations.Update)).Succeeded)
    {
        <a asp-page="./Edit" asp-route-id="@Model.Question.QuestionId">Edit</a>
        <text> | </text>
    }

    @if ((await AuthorizationService.AuthorizeAsync(
        User, Model.Question,
        QuestionOperations.Delete)).Succeeded)
    {
        <a asp-page="./Delete" asp-route-id="@Model.Question.QuestionId">Delete</a>
        <text> | </text>
    }

    <a asp-page="./Index">Back to List</a>
</div>
<div>
    <h4>@ViewData["AnswerCount"] Answers</h4>
    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Answer[0].Message)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answer[0].DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answer[0].Accepted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answer[0].Score)
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Answer)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Message)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Accepted)
                </td>
                <td class="vote-value">
                    <span class="Answer" id="@Html.DisplayFor(modelItem => item.AnswerId)">@Html.DisplayFor(modelItem => item.Score)</span>
                    <button onclick="AnswerVote(@Html.DisplayFor(modelItem => item.AnswerId), 1)">+</button>
                    <button onclick="AnswerVote(@Html.DisplayFor(modelItem => item.AnswerId), -1)">-</button>
                </td>
                @*             <td> *@
                @*                 @if ((await AuthorizationService.AuthorizeAsync( *@
                @*                     User, item, *@
                @*                     QuestionOperations.Update)).Succeeded) *@
                @*                 { *@
                @*                     <a asp-page="./Edit" asp-route-id="@item.QuestionId">Edit</a> *@
                @*                     <text> | </text> *@
                @*                 } *@
                @* *@
                @*                 <a asp-page="./Details" asp-route-id="@item.QuestionId">Details</a> *@
                @* *@
                @*                 @if ((await AuthorizationService.AuthorizeAsync( *@
                @*                     User, item, *@
                @*                     QuestionOperations.Delete)).Succeeded) *@
                @*                 { *@
                @*                     <text> | </text> *@
                @*                     <a asp-page="./Delete" asp-route-id="@item.QuestionId">Delete</a> *@
                @*                 } *@
                @*             </td> *@
            </tr>
        }
        </tbody>
    </table>
</div>

@section Scripts
{<script>
function QuestionVote(id, reaction){
    $.ajax({
           url: '/Questions/Vote',
           data: {
               id: id,
               reaction: reaction
           }
        })
.done(function(result) {
        var element = $("#"+id+".Question");
        var old = parseInt(element.html());
        element.html(old + result)
}
    )}
    
    function AnswerVote(id, reaction){
        $.ajax({
               url: '/Questions/Answers/Vote',
               data: {
                   id: id,
                   reaction: reaction
               }
            })
    .done(function(result) {
            var element = $("#"+id+".Answer");
            var old = parseInt(element.html());
            element.html(old + result)
    }
        )}
</script>}
                